.marketplace {
  margin-left: 16px;
  margin-right: 16px;
}
.marketplace .marketplace-card {
  max-width: 950px;
  min-height: 300px;
  margin: 50px auto;
  padding-left: 16px;
}
.marketplace .center-text {
  text-align: center;
}
.marketplace .center {
  margin: 0 auto;
}
.marketplace .marketplace-button {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.marketplace .mat-stroked-button {
  padding: 0 7px;
  line-height: 28px;
}

/*# sourceMappingURL=marketplace.component.css.map */
