<div class="marketplace">
  <mat-card class="marketplace-card mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>
        Průměrná půjčka dle zvoleného ratingu
      </mat-card-title>
    </mat-card-header>
    <hr/>
    <mat-card-content>

      <ng-container *ngIf="selectizeMarketplace">
        <mat-grid-list [cols]="breakpoint" rowHeight="1:0.5" (window:resize)="onResize($event)">
          <mat-grid-tile *ngFor="let marketplace of selectizeMarketplace">
            <button routerLink="/{{marketplace.key}}" mat-stroked-button color="#ffee58">
              <a class="marketplace-button" routerLink="/{{marketplace.key}}">{{marketplace.value}}</a>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
      <p class="center-text">
        Průměrná půjčka pro zvolený rating: <b *ngIf="selectMarketValue">{{selectMarketValue.value}}</b>
      </p>

      <mat-spinner class="center" color="warn" *ngIf="isUpdating"></mat-spinner>
      <h1 class="center-text" *ngIf="!isUpdating">{{averageMarket}}</h1>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
